<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="description" content="دوّن، موقع للتدوين المصغر">
    <meta name="keywords" content="دون, تدوين, صور, فديو, مقالات, تدوين مصغر">
    <title>دوّن</title>
    <link rel="stylesheet" href="assets/css/core-style.css">
    <link rel="stylesheet" href="assets/css/core-icons.css">
    <style>
    
    </style>
</head>
<body>
    <header id="header-outer">
        <div class="container">
            <div class="elem-50 elem-right">&blank;</div>
            <div class="elem-50 elem-left">&blank;</div>
        </div>
    </header>
    <div id="body-outer">
        <div id="body-inner">
            <div class="container">
                <div id="dashboard">
                    <div class="widget">
                        <div id="user-profile">
                            <div id="user-background"></div>
                            <a href="#">
                                <img id="user-avatar" src="static/avatar/avatar_default.png" alt="???-user-???">
                            </a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>تدوينات</span>
                                        <span>٥،٣٥٧</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>متابعين</span>
                                        <span>٩٦٩</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>يتابع</span>
                                        <span>٥٢</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-label">حديث الساعة</div>
                        <div id="hot-topics">
                            <ul>
                                <li><a href="#">#معرض_الكتاب</a></li>
                                <li><a href="#">#برمجة</a></li>
                                <li><a href="#">#تصميم_مواقع</a></li>
                                <li><a href="#">#خبر_عاجل</a></li>
                                <li><a href="#">#فصل_الصيف</a></li>
                                <li><a href="#">#ألعاب_جديدة</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-label">أشخاص مقترحين</div>
                        <div id="suggested-people">
                        <a href="#">
                            <img src="static/avatar/avatar_default.png" alt="???-user-???">
                            <div>
                                <p>محمد عبدالله</p>
                                <span>@محمد_عبدالله</span>
                            </div>
                        </a>
                        <a href="#">
                            <img src="static/avatar/avatar_default.png" alt="???-user-???">
                            <div>
                                <p>Ali Rami</p>
                                <span>@AliRami</span>
                            </div>
                        </a>
                        <a href="#">
                            <img src="static/avatar/avatar_default.png" alt="???-user-???">
                            <div>
                                <p>عبدالعزيز</p>
                                <span>@aziz</span>
                            </div>
                        </a>
                        <a href="#">
                            <img src="static/avatar/avatar_default.png" alt="User">
                            <div>
                                <p>بركات سرور</p>
                                <span>@بركات</span>
                            </div>
                        </a>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="widget-label">مواضيع شائعة</div>
                        <div id="suggested-topics">
                            <ul>
                                <li><a href="#"><span class="fa fa-moon-o"></span>اسلام</a></li>
                                <li><a href="#"><span class="fa fa-graduation-cap"></span>تعليم</a></li>
                                <li><a href="#"><span class="fa fa-newspaper-o"></span>أخبار</a></li>
                                <li><a href="#"><span class="fa fa-area-chart"></span>اقتصاد</a></li>
                                <li><a href="#"><span class="fa fa-flask"></span>تقنية</a></li>
                                <li><a href="#"><span class="fa fa-soccer-ball-o"></span>رياضة</a></li>
                                <li><a href="#"><span class="fa fa-gamepad"></span>ترفيه</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><span class="fa fa-heart"></span>صحة</a></li>
                                <li><a href="#"><span class="fa fa-language"></span>لغات</a></li>
                                <li><a href="#"><span class="fa fa-compass"></span>سياحة</a></li>
                                <li><a href="#"><span class="fa fa-quote-right"></span>ثقافة</a></li>
                                <li><a href="#"><span class="fa fa-shopping-cart"></span>تسوّق</a></li>
                                <li><a href="#"><span class="fa fa-car"></span>نقل</a></li>
                                <li><a href="#"><span class="fa fa-film"></span>فنون</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget"></div>
                </div>
                <div id="content-main">
                    <div class="widget"></div>
                    <div class="widget"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>