<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="utf-8">
  <meta name="description" content="دوّن، موقع للتدوين المصغر، يمكنك متابعة التطورات والآحداث، ومشاركة الآخرين آرائك وإبداعاتك عن طريق تدوينات مصغرة، أو مقالات، أو صور أو فديوهات.">
  <meta name="keywords" content="دون, تدوين, صور, فديو, مقالات, تدوين مصغر">
  <title>دوّن</title>
  <link rel="stylesheet" href="assets/css/core-style.css">
  <link rel="stylesheet" href="assets/css/core-icons.css">
  <style>
  
  </style>
</head>
<body>
  <header id="header-outer">
    <div id="header-inner">
      <nav id="navigation-bar">
        <ul>
          <li><a href="#/"><span class="fa fa-home"></span>الرئيسية</a></li>
          <li><a href="#/p/discover"><span class="fa fa-compass"></span>اكتشف</a></li>
          <li><a href="#/p/signup"><span class="fa fa-user-plus"></span>التسجيل</a></li>
          <li><a href="#/p/signin"><span class="fa fa-user"></span>دخول</a></li>
        </ul>
      </nav>
      <div id="tool-bar">
        <a href="#/"></a>
        <form action="#/search" method="get">
          <div>
            <input type="text" autocomplete="off" placeholder="بحث" name="q">
            <button class="fa fa-search"></button>
          </div>
        </form>
      </div>
    </div>
  </header>
  <div id="body-outer">
    <div id="body-inner">
      <div id="dashboard">
        <div class="widget">
          <div id="user-profile">
            <div id="user-background"></div>
            <a href="#/user">
              <img id="user-avatar" src="static/avatar/avatar_default.png" alt="???-user-???">
            </a>
            <ul>
              <li>
                <a href="#/user">
                  <span>تدوينات</span>
                  <span>٥،٣٥٧</span>
                </a>
              </li>
              <li>
                <a href="#/user/followers">
                  <span>متابعين</span>
                  <span>٩٦٩</span>
                </a>
              </li>
              <li>
                <a href="#/user/following">
                  <span>يتابع</span>
                  <span>٥٢</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="widget">
          <div class="widget-label">حديث الساعة</div>
          <div id="hot-topics">
            <ul>
              <li><a href="#/hash?q=معرض_الكتاب">#معرض_الكتاب</a></li>
              <li><a href="#/hash?q=برمجة">#برمجة</a></li>
              <li><a href="#/hash?q=تصميم_مواقع">#تصميم_مواقع</a></li>
              <li><a href="#/hash?q=خبر_عاجل">#خبر_عاجل</a></li>
              <li><a href="#/hash?q=فصل_الصيف">#فصل_الصيف</a></li>
              <li><a href="#/hash?q=ألعاب_جديدة">#ألعاب_جديدة</a></li>
            </ul>
          </div>
        </div>
        <div class="widget">
          <div class="widget-label">أشخاص مقترحين</div>
          <div id="suggested-people">
          <a href="#/محمد_عبدالله">
            <img src="static/avatar/avatar_default.png" alt="???-user-???">
            <div>
              <p>محمد عبدالله</p>
              <span>@محمد_عبدالله</span>
            </div>
          </a>
          <a href="#/AliRami">
            <img src="static/avatar/avatar_default.png" alt="???-user-???">
            <div>
              <p>Ali Rami</p>
              <span>@AliRami</span>
            </div>
          </a>
          <a href="#/aziz">
            <img src="static/avatar/avatar_default.png" alt="???-user-???">
            <div>
              <p>عبدالعزيز</p>
              <span>@aziz</span>
            </div>
          </a>
          <a href="#/بركات">
            <img src="static/avatar/avatar_default.png" alt="User">
            <div>
              <p>بركات سرور</p>
              <span>@بركات</span>
            </div>
          </a>
          </div>
        </div>
        <div class="widget">
          <div class="widget-label">مواضيع شائعة</div>
          <div id="suggested-topics">
            <ul>
              <li><a href="#/hash?q=اسلام"><span class="fa fa-moon-o"></span>اسلام</a></li>
              <li><a href="#/hash?q=تعليم"><span class="fa fa-graduation-cap"></span>تعليم</a></li>
              <li><a href="#/hash?q=أخبار"><span class="fa fa-newspaper-o"></span>أخبار</a></li>
              <li><a href="#/hash?q=اقتصاد"><span class="fa fa-area-chart"></span>اقتصاد</a></li>
              <li><a href="#/hash?q=تقنية"><span class="fa fa-flask"></span>تقنية</a></li>
              <li><a href="#/hash?q=رياضة"><span class="fa fa-soccer-ball-o"></span>رياضة</a></li>
              <li><a href="#/hash?q=ترفيه"><span class="fa fa-gamepad"></span>ترفيه</a></li>
            </ul>
            <ul>
              <li><a href="#/hash?q=صحة"><span class="fa fa-heart"></span>صحة</a></li>
              <li><a href="#/hash?q=لغات"><span class="fa fa-language"></span>لغات</a></li>
              <li><a href="#/hash?q=سياحة"><span class="fa fa-compass"></span>سياحة</a></li>
              <li><a href="#/hash?q=ثقافة"><span class="fa fa-quote-right"></span>ثقافة</a></li>
              <li><a href="#/hash?q=تسوق"><span class="fa fa-shopping-cart"></span>تسوق</a></li>
              <li><a href="#/hash?q=نقل"><span class="fa fa-car"></span>نقل</a></li>
              <li><a href="#/hash?q=فنون"><span class="fa fa-film"></span>فنون</a></li>
            </ul>
          </div>
        </div>
        <div class="widget">
          <a class="ads-widget" href="#/ads/a339cdf1373ef73621768f201eb7239f">
            <span>إعلان</span>
          </a>
        </div>
      </div>
      <div id="content-main">
        <div class="widget"></div>
        <div class="widget"></div>
      </div>
    </div>
  </div>
</body>
</html>